

<!--WELCOME AREA-->
<div class="tag_line">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="welcome">
          <h3>
            <span class="colored">About Us</span><span class="colored">:</span> mission, vision and facts
          </h3>
        </div>
      </div>
    </div>
  </div>



  <div class="main_content_area">
    <div class="container">
      <div class="row">
        <div class="span12">

          <div class="row-fluid">
            <div class="wpb_content_element span4 column_container">
              <div class="wpb_wrapper">
               <div class="row-fluid">
                <div class="wpb_content_element span12 wpb_text_column">
                  <div class="wpb_wrapper">

                    <p <a href="img/tasha_pic.jpg" rel="prettyPhoto"><img class="alignnone size-full" src="img/tasha_pic.jpg" alt="" width="500"/></p>
                    <h4>Natasha Green </br><strong>Lead Remediator & Math Remediator</strong></h4>
                    <p><em>Passionate about students being college ready</em><br />

                      <a href="http://twitter.com/NatashaGreen25">Twitter</a> / <a href="http://linkedin.com/in/greennatasha">LinkedIn</a></p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_content_element span4 column_container">
              <div class="wpb_wrapper">
               <div class="row-fluid">
                <div class="wpb_content_element span12 wpb_text_column">
                  <div class="wpb_wrapper">

                    <p><a href="img/bibi.png" rel="prettyPhoto"><img class="alignnone size-full" src="img/bibi.png" alt="" width="500" /></a></p>
                    <h4>Bibi Hussain-Santana </br><strong>English Remediator</strong></h4>
                    <p><em>Her motto: Read and write continually to succeed</em><br />
                      <!-- <a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook </a> --></p>

                    </div>
                  </div> </div>
                </div>
              </div>
              <div class="wpb_content_element span4 column_container">
                <div class="wpb_wrapper">
                 <div class="row-fluid">
                  <div class="wpb_content_element span12 wpb_text_column">
                    <div class="wpb_wrapper">

                      <p><a href="img/q.jpg" rel="prettyPhoto"><img class="alignnone size-full" src="img/q.jpg" alt="" width="500"/></a></p>
                      <h4>Qualian Pantin </br><strong>Advisory Remediator</strong></h4> </br>
                      <p><em>Believes students succeed with the right encouragment.</em><br />
                      </p>

                    </div>
                  </div> </div>
                </div>
              </div> </div>

              <div class="wpb_separator wpb_content_element "></div>
              <div class="row-fluid">
                <div class="wpb_content_element span8 column_container">
                  <div class="wpb_wrapper">
                   <div class="row-fluid">
                    <div class="wpb_content_element span12 wpb_text_column">
                      <div class="wpb_wrapper">

                        <h3>Mission</h3>

                        <p> <em><strong> noRemediation </strong>  is an initiative devoted to preparing prospective CUNY and SUNY college students to test out of remedial course work and start taking their credit-bearing courses from the first day. We chart an individual online course to fit participants' schedules. We have weekly advisory sessions to make sure students are on track for their assessment test.  If students cannot successfully complete the online study course, we develop immersion programs in which a teacher works with students in a classroom setting.</em> </p>

                        <h3>Vision</h3>

                        <p> <em> <strong>We will provide </strong> current online tools and consistent advice to boost students' confidence when taking the CUNY Assessment tests.  With the right tools and a systematic learning approach participants can pass the CUNY Assessment, and be able to start their degree program from day one. </em> </p>

                      </div>
                    </div>
                  </div>  <!-- row-fluid ends -->
                </div>
              </div>
              <div class="wpb_content_element span4 column_container">
                <div class="wpb_wrapper">
                 <div class="row-fluid">
                  <div class="wpb_content_element span12 wpb_text_column">
                    <div class="wpb_wrapper">

                      <h3>Fact</h3>

                      <div class="sidebar">
                        <div class="testimonialrotator">

                          <div class="testimonial">
                            <div class="main_testimonial">
                              <div class="blockquote">
                                In Fall of 2012, 82.5% of students who entered CUNY community colleges placed into remediation based on their scores on the CUNY Assessment Test.
                              </div>
                            </div>
                            <div class="the-author">CUNY Office of Academic Affairs
                            </div>
                          </div>

                          <div class="testimonial">
                            <div class="main_testimonial"><div class="blockquote"> Nearly 80% of graduates from city high schools arrived at City University's system without having mastered skills to do college-level work. This is nearly 11,00 kids who graduated.</div></div>
                            <div class="the-author">CBS Local</div>
                          </div>


                          <div class="testimonial">
                            <div class="main_testimonial"><div class="blockquote"> More than 42 million American ages 18 to 64 do not hold a postsecondary degree and would likely need remediation it they pursue one.</div></div>
                            <div class="the-author">National Conference of State Legislatures</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>

