
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
<meta charset="utf-8">
<title>NoRemediation &#8211; College Preparedness for the Concientious Student</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Helping prospective Students to save time" />
<meta name="keywords" content="Learning &#8211; College Ready" />



<!-- Le styles -->


<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/docs.css">
<link rel="stylesheet" type="text/css" href="css/prettify.css">
<link rel="stylesheet" type="text/css" href="css/nivo-slider.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<!--

-->


<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
       <!-- [if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif] -->
        <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" href="http://html.orange-idea.com/builder/wp-content/themes/builder/assets/css/ie.css" />
      <![endif]-->

      <link rel='stylesheet' id='bootstrap-css'  href='css/bootstrap_v3.4.9.css' type='text/css' media='screen' />
      <link rel='stylesheet' id='js_composer_front-css'  href='css/js_composer_front.css' type='text/css' media='screen' />
      <link rel='stylesheet' id='custom-options-css'  href='css/options.css' type='text/css' media='all' />
      <link rel='stylesheet' id='prepared-styles-css'  href='css/empty.css' type='text/css' media='all' />
      <link rel='stylesheet' id='rs-settings-css'  href='css/settings.css' type='text/css' media='all' />
      <link rel='stylesheet' id='rs-captions-css'  href='css/captions.css' type='text/css' media='all' />
      <link rel='stylesheet' id='css3_grid_font_yanone-css'  href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&#038;ver=3.4.2' type='text/css' media='all' />


      <script type='text/javascript' src='js/jquery.js'></script>
      <script type='text/javascript' src='js/jquery.themepunch.plugins.min.js'></script>
      <script type='text/javascript' src='js/jquery.themepunch.revolution.min.js'></script>
    </head>

    <body  class="page page-id-125 page-template-default wpb-js-composer js-comp-ver-3.4.9 vc_responsive">

      <div class="wide_cont">
        <!--TOP-->
        <div class="top_line">
          <div class="container">
            <div class="row">
              <div class="span6">
                <p class="feed"></p>
              </div>
              <div class="span6 soc_icons">
              </div>
            </div>
          </div>
        </div>
        <!--/TOP-->

        <div class="tag_line">
          <div class="container">
            <div class="row">
              <div class="span12">
                <div class="welcome">
                  <h3><strong class='colored'>noRemediation:</strong> Prep yourself out of remedial courses in college! </h3>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--PAGE HEAD-->
        <div class="page_head" >
          <div class="container">
            <div class="row">
              <div class="span3">
              </div>
              <div class="span9">
                <nav>
                  <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu"><li id="menu-item-1544" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-17 menu-item-1544"><a href="/">Home</a>

                    </li>
                    <li id="menu-item-1566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1566"><a href="/about-us">About Us</a></li>

                    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/services">Services</a>
                    </li>

  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item "><a href="/services">Contacts</a>
                    </li>


                  </ul>
                </div>
              </nav>
            </div>

          </div> <!--/Row-->
        </div> <!--/Container-->
      </div> <!--/PAGE HEAD-->


<!-- main area -->


<div class="main_content_area">
  <div class="container">
    <div class="row">
      <div class="span12">

        <div class="row-fluid">
          <div class="wpb_gmaps_widget wpb_content_element span12">
            <div class="wpb_wrapper"><div class="wpb_map_wraper"><iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=9930+124th+Avenue+Northeast+Kirkland,+Washington&amp;hl=ru&amp;sll=37.0625,-95.677068&amp;sspn=58.858685,114.169922&amp;hnear=9930+124th+Ave+NE,+Kirkland,+Washington+98033&amp;t=m&amp;z=16&amp;t=m&amp;z=14&amp;output=embed"></iframe></div>
          </div>
        </div>
      </div>


      <div class="row-fluid">
        <div class="wpb_content_element span8 column_container">
          <div class="wpb_wrapper">
           <div class="row-fluid">
            <div class="wpb_content_element span12 wpb_text_column">
              <div class="wpb_wrapper">

                <h4>Feel free to contact us</h4>
                <div id="note"></div>
                <div id="fields">
                  <form class="form" id="ajax-contact-form" action="javascript:alert('Was send!');">
                    <!--[if IE]><label for="name">Name</label><![endif]--><input type="text" id="name" name="name" class="span6" placeholder="Name" /><br />
                    <!--[if IE]><label for="email">E-mail</label><![endif]--><input id="email" type="text" class="span6" name="email" placeholder="Email" /><br />
                    <!--[if IE]><label for="message">Message</label><![endif]--><textarea id="message" class="span11" type="text" name="message" placeholder="Message" rows="8"></textarea><br />
                    <button type="submit"  class="btn btn-small">Send message</button><br />
                  </form>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>  <!-- ends span 8 column_container -->

    <div class="wpb_content_element span4 column_container">
      <div class="wpb_wrapper">
       <div class="row-fluid">
        <div class="wpb_content_element span12 wpb_text_column">
          <div class="wpb_wrapper">

            <h4>Contact information</h4>
            <p><em><strong>Commandestrong>r is designed to help people of all skill levels designer or developer, huge nerd or early beginner. Use it as a complete kit or use to start something more complex.</em></p>
            <p><em></em><br />
              <strong>Aress:</strong> 123456 Street Name, Los Angeles<br />
              <strong>Phone:</strong> (1800) 765-4321<br />
              <strong>Fax:</strong> (1800) 765-4321<br />
              <strong>Website:</strong> http://yoursitename.com<br />
              <strong>Email:</strong> info@yoursitename.com</p>

            </div>
          </div>
        </div>
      </div>
    </div>   <!-- ends span 4 column_container -->

  </div>

</div>
</div>
</div>
</div>

 <!--FOOTER-->

                <div class="footer">
                  <div class="container">
                    <div class="row">
                      <div class="span3 soc_icons">
                        <div style="">
                          <img src="" alt=""><br>
                          <h3><strong class='colored'>noRemediation</strong>
                            <a href="https://facebook.com/" target="_blank"><div class="glyphicon gylphicon-facebook"></div></a>

                          </div>
                          <br class="visiblephone"><br class="visiblephone"><br class="visiblephone"><br class="visiblephone">
                        </div>
                        <div class="span6" style="font-size:12px;">     <div class="textwidget"><div class="well">noRemediation wants to help motivated learners start taking credit-bearing course the first day they start their college courses.</div></div>

                        <!-- END WIDGET -->
                      </div><div class="span3"><h6 style="text-transform: uppercase !important; font-weight:600; !important">Contact Information</h6><hr>     <div class="textwidget"><ul class="unstyled">
                      <li><i class='icon-user  icon-white'></i> +1 203 518 4367</li>
                      <li><i class='icon-envelope icon-white'></i> natasha@thehiddengems.com</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom_line" style="border-top:1px solid #444444;">
              <div class="container">
                <div class="row">
                  <div class="span6">
                    <span style="font-size:11px;">Copyright 2014 Hidden Gems Solutions LLC - Company. Design by <a href='http://themeforest.net/user/OrangeIdea?ref=OrangeIdea'>OrangeIdea</a></span>
                  </div>
                  <div class="span6">
                    <span style="font-size:11px;" class="pull-right visible-desktop"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="unstyled footer_menu"><li id="menu-item-1546" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-17 current_page_item menu-item-1546"><a href="#/">Home</a></li>
                      <li id="menu-item-1632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1632"><a href="#">About Us</a></li>
                      <li id="menu-item-1633" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1633"><a href="#">Contacts</a></li>
                    </ul></div></span>
                  </div>
                </div>
              </div>
            </div>
            <!--/FOOTER-->
          </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.min.js"></script>
        <script src="js/prettify.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/myscript.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/superfish.js"></script>
        <script src="js/jquery.nivo.slider.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jflickrfeed.min.js"></script>
        <script src="js/testimonialrotator.js"></script>
        <script src="js/jquery.waitforimages.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/custom.js"></script>


        <!-- FOR CONTACT PAGE -->
        <script type="text/javascript">
        jQuery.noConflict()(function($){
          $(document).ready(function ()
      { // after loading the DOM
        $("#ajax-contact-form").submit(function ()
        {
          // this points to our form
          var str = $(this).serialize(); // Serialize the data for the POST-request
          $.ajax(
          {
            type: "POST",
            url: 'http://html.orange-idea.com/builder/wp-content/themes/builder/contact.php',
            data: str,
            success: function (msg)
            {
              $("#note").ajaxComplete(function (event, request, settings)
              {
                if (msg == 'OK')
                {
                  result = '<div class="notification_ok">Message was sent to website administrator, thank you!</div>';
                  $("#fields").hide();
                }
                else
                {
                  result = msg;
                }
                $(this).html(result);
              });
            }
          });
          return false;
        });
      });
        });
</script>
</body>
</html>