
      <!--WELCOME AREA-->

      <div class="main_content_area">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div class="row-fluid">
                <div class="wpb_content_element span4 hidden-phone column_container">
                  <div class="wpb_wrapper">
                   <div class="row-fluid">
                    <div class="wpb_content_element span12 wpb_text_column">
                      <div class="wpb_wrapper">

                        <div style="background-color: #3a3a3a; padding: 10px; margin-bottom: 20px;">
                          <h3 style="color: #fff !important; margin-bottom: 3px !important;"><strong>Who we are:</strong></h3>
                            <h4 style="color: #fff; line-height: normal;   "> noRemediation is a service that helps prospective SUNY & CUNY students chart an online individual program of study to prep for the SUNY & CUNY Assessment test. </h5>
                            </div>

                            <hr class="Ãle-desktop" />
                            <h4 class="visible-desktop"> <a href="/services">The services:</a></h4>

                            <div class=" visible-desktop">
                              <div class="span6">
                                <ul class="unstyled" style="margin-top: 10px;">
                                  <li><em class="glyphicon glyphicon-user"></em> Weekly Advisory</li>
                                  <li><em class="glyphicon glyphicon-book"></em> Independent Study</li>
                                  <li><i class="fa fa-pencil"></i> Studying skills</li>
                                </ul>
                              </div>
                              <div class="span6">
                                <ul class="unstyled" style="margin-top: 10px;">
                                  <li><i class="fa fa-clock-o"></i> 24/7 Motivation</li>
                                  <li><em class="fa fa-comments"></em> Career path advice</li>
                                  <li><i class="fa fa-desktop"></i> Awareness of Academic Tools</li>
                                </ul>
                              </div>
                            </div>

                          </div>
                        </div> </div>
                      </div>
                    </div>
                    <div class="wpb_content_element span8 column_container">
                      <div class="wpb_wrapper">
                       <div class="row-fluid">
                        <div class="wpb_content_element span12 wpb_text_column">
                          <div class="wpb_wrapper">

                            <!-- START REVOLUTION SLIDER 2.0.3 -->

                            <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:440px;height:440;">

                            <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;max-height:440px;height:440;">


                              <ul>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                                  <img src="img/students_studying_in_librar_450.jpg" >


                                </li>

                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                                  <img src="img/college-students-studying-together-library-5949514.jpg" >
                                </li>


                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                                  <img src="img/MOOCbetterwordbubble.png" >

                                </li>

                                <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                                  <img src="img/Students.jpg" >
                                </li>
                              </ul>
                            </div>
                          </div>

                          <script type="text/javascript">

                          var tpj=jQuery;

                          tpj.noConflict();

                          var revapi2;

                          tpj(document).ready(function() {

                            if (tpj.fn.cssOriginal != undefined)
                              tpj.fn.css = tpj.fn.cssOriginal;

                            if(tpj('#rev_slider_2_1').revolution == undefined)
                              revslider_showDoubleJqueryError('#rev_slider_2_1');
                            else
                             revapi2 = tpj('#rev_slider_2_1').show().revolution(
                             {
                              delay:9000,
                              startwidth:770,
                              startheight:440,
                              hideThumbs:200,

                              thumbWidth:100,
                              thumbHeight:50,
                              thumbAmount:3,

                              navigationType:"none",
                              navigationArrows:"verticalcentered",
                              navigationStyle:"navbar",

                              touchenabled:"on",
                              onHoverStop:"on",

                              navOffsetHorizontal:0,
                              navOffsetVertical:20,

                              shadow:1,
                              fullWidth:"on",

                              stopLoop:"off",
                              stopAfterLoops:-1,
                              stopAtSlide:-1,

                              shuffle:"off"
                            });

        }); //ready

</script>

<!-- END REVOLUTION SLIDER -->


</div>
</div> </div>
</div>
</div> </div> <div class="wpb_separator wpb_content_element "></div>
<div class="row-fluid">
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
     <div class="row-fluid">
      <div class="wpb_content_element span12 wpb_text_column">
        <div class="wpb_wrapper">

          <div style="background: #f1f1f1; padding: 15px;">
            <p style="text-align: center;"><i class="fa fa-book fa-4x" /></i></p>


            <h4 style="text-align: center;"> <strong> Independent Study Track</strong> </h4>
            <p style="text-align: center; font-size: 16px; margin-bottom: 0px !important;">It is daunting to determine how to prepare for a test that impacts four years of your life. That is why we do all the planning for you! Bring your motivation with an "I will study mentality" and we will do the rest. </p>
          </div>

        </div>
      </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
     <div class="row-fluid">
      <div class="wpb_content_element span12 wpb_text_column">
        <div class="wpb_wrapper">

          <div style="background: #f1f1f1; padding: 15px;">
            <p style="text-align: center;"> <i class="fa fa-user fa-4x" /></i></p>


            <h4 style="text-align: center;"> <strong> Weekly Advisory </strong></h4>
            <p style="text-align: center; font-size: 16px; margin-bottom: 0px !important;">You don't have to worry about preparing for the test alone! You will have an advisor that checks in on your progress weekly. </p>
          </div>

        </div>
      </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
     <div class="row-fluid">
      <div class="wpb_content_element span12 wpb_text_column">
        <div class="wpb_wrapper">

          <div style="background: #f1f1f1; padding: 15px;">
            <p style="text-align: center;"><i class="fa fa-desktop fa-4x"></i></p>
            <h4 style="text-align: center;"><strong> Awareness of Academic Tools</strong></h4>
            <p style="text-align: center; font-size: 16px; margin-bottom: 0px !important;"> There is a great number of online tools in the market that can help you to succeed. We vet them and pick the ones that will fit your specific course of study. </p>
          </div>

        </div>
      </div> </div>
    </div>
  </div> </div> <div class="wpb_separator wpb_content_element "></div>

</div>
</div>
</div>
</div>
