<body  class="page page-id-123 page-template-default wpb-js-composer js-comp-ver-3.4.9 vc_responsive">


    <div class="wide_cont">
    <!--TOP-->
        <div class="top_line">
      <div class="container">
          <div class="row">
              <div class="span6">
          <p class="feed"></p>
          </div>
                <div class="span6 soc_icons">
                                                                                                                                      </div>
        </div>
      </div>
    </div>
    <!--/TOP-->


    <!--PAGE HEAD-->
    <div class="page_head" >
      <div class="container">
          <div class="row">
              <div class="span3">
                  <div class="logo">
                      <a href="http://html.orange-idea.com/builder"> <img src="http://www.orange-idea.com/assets/builder/logo.png" alt="Builder &#8211; Resonsive Wordpress Theme" /></a>
                    </div>
                </div>
                <div class="span9">
                  <nav>
                      <div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-1544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1544"><a href="http://html.orange-idea.com/builder/">Home</a>
<ul class="sub-menu">
  <li id="menu-item-1630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1630"><a href="http://html.orange-idea.com/builder/home-page-2-example/">Home Page 2 Example</a></li>
  <li id="menu-item-1629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1629"><a href="http://html.orange-idea.com/builder/home-page-3-example/">Home Page 3 Example</a></li>
  <li id="menu-item-1636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1636"><a href="http://html.orange-idea.com/builder/home-page-4-example/">Home Page 4 Example</a></li>
  <li id="menu-item-1637" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1637"><a href="http://html.orange-idea.com/builder/home-page-5-example/">Home Page 5 Example</a></li>
  <li id="menu-item-1638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1638"><a href="http://html.orange-idea.com/builder/home-page-6-example/">Home Page 6 Example</a></li>
</ul>
</li>
<li id="menu-item-1540" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-1540"><a href="#">Pages</a>
<ul class="sub-menu">
  <li id="menu-item-1566" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-123 current_page_item menu-item-1566"><a href="http://html.orange-idea.com/builder/about-us/">About Us</a></li>
  <li id="menu-item-1565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1565"><a href="http://html.orange-idea.com/builder/services/">Services</a></li>
  <li id="menu-item-1576" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1576"><a href="http://html.orange-idea.com/builder/contacts/">Contacts</a></li>
  <li id="menu-item-1635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1635"><a href="http://html.orange-idea.com/builder/simple-gallery/">Simple Gallery</a></li>
  <li id="menu-item-1539" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1539"><a href="/builder/qwerty">404 Error</a></li>
  <li id="menu-item-1564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1564"><a href="http://html.orange-idea.com/builder/left-sidebar/">Left Sidebar</a></li>
  <li id="menu-item-1563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1563"><a href="http://html.orange-idea.com/builder/right-sidebar/">Right Sidebar</a></li>
  <li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="http://html.orange-idea.com/builder/both-sidebar/">Both Sidebar</a></li>
</ul>
</li>
<li id="menu-item-1543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1543"><a href="http://html.orange-idea.com/builder/blog/">Blog</a>
<ul class="sub-menu">
  <li id="menu-item-1579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1579"><a href="http://html.orange-idea.com/builder/big-image-right-sidebar/">Big Image + Right Sidebar</a></li>
  <li id="menu-item-1568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1568"><a href="http://html.orange-idea.com/builder/big-image-left-sidebar/">Big Image + Left Sidebar</a></li>
  <li id="menu-item-1578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1578"><a href="http://html.orange-idea.com/builder/mini-image-right-sidebar/">Mini Image + Right Sidebar</a></li>
  <li id="menu-item-1567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1567"><a href="http://html.orange-idea.com/builder/mini-image-left-sidebar/">Mini Image + Left Sidebar</a></li>
  <li id="menu-item-1520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1520"><a href="/builder/hello-world/">Text Post</a></li>
  <li id="menu-item-1521" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1521"><a href="/builder/nullam-vitae-nibh-un-odiosters/">Image Post</a></li>
  <li id="menu-item-1522" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1522"><a href="/builder/video-post/">Video Post</a></li>
  <li id="menu-item-1524" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1524"><a href="/builder/post-right-sidebar/">Post + Right Sidebar</a></li>
  <li id="menu-item-1523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1523"><a href="/builder/post-left-sidebar/">Post + Left Sidebar</a></li>
</ul>
</li>
<li id="menu-item-1525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1525"><a href="#">Portfolio</a>
<ul class="sub-menu">
  <li id="menu-item-1570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1570"><a href="http://html.orange-idea.com/builder/2-columns-portfolio/">2 Columns Portfolio</a></li>
  <li id="menu-item-1571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1571"><a href="http://html.orange-idea.com/builder/3-columns-portfolio/">3 Columns Portfolio</a></li>
  <li id="menu-item-1572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572"><a href="http://html.orange-idea.com/builder/4-columns-portfolio/">4 Columns Portfolio</a></li>
  <li id="menu-item-1573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1573"><a href="http://html.orange-idea.com/builder/6-columns-portfolio/">6 Columns Portfolio</a></li>
  <li id="menu-item-1577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1577"><a href="http://html.orange-idea.com/builder/portfolio-right-sidebar/">Portfolio Right Sidebar</a></li>
  <li id="menu-item-1569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1569"><a href="http://html.orange-idea.com/builder/portfolio-left-sidebar/">Portfolio Left Sidebar</a></li>
  <li id="menu-item-1527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1527"><a href="/builder/portfolio-type/somthing/">Item-Single Image</a></li>
  <li id="menu-item-1528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1528"><a href="/builder/portfolio-type/another-work/">Item-Slider</a></li>
  <li id="menu-item-1526" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1526"><a href="/builder/portfolio-type/awesome-ad/">Project-Video</a></li>
  <li id="menu-item-1529" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1529"><a href="/builder/portfolio-type/item-left-sidebar/">Item-Left Sidebar</a></li>
  <li id="menu-item-1530" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1530"><a href="/builder/portfolio-type/item-right-sidebar/">Item-Right Sidebar</a></li>
  <li id="menu-item-1531" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1531"><a href="/builder/portfolio-type/item-portrait/">Item-Portrait</a></li>
</ul>
</li>
<li id="menu-item-1538" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1538"><a href="#">Features</a>
<ul class="sub-menu">
  <li id="menu-item-1595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1595"><a href="http://html.orange-idea.com/builder/theme-grid/">Theme Grid</a></li>
  <li id="menu-item-1596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1596"><a href="http://html.orange-idea.com/builder/typography/">Typography</a></li>
  <li id="menu-item-1622" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1622"><a href="http://html.orange-idea.com/builder/tables/">Tables</a></li>
  <li id="menu-item-1611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1611"><a href="http://html.orange-idea.com/builder/buttons/">Buttons</a></li>
  <li id="menu-item-1610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1610"><a href="http://html.orange-idea.com/builder/allerts/">Allerts</a></li>
  <li id="menu-item-1619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1619"><a href="http://html.orange-idea.com/builder/glyphicons-icons/">Glyphicons Icons</a></li>
  <li id="menu-item-1618" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1618"><a href="http://html.orange-idea.com/builder/badges-and-labels/">Badges and Labels</a></li>
  <li id="menu-item-1634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1634"><a href="http://html.orange-idea.com/builder/pricing-tables/">Pricing Tables</a></li>
  <li id="menu-item-1597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1597"><a href="http://html.orange-idea.com/builder/toggles/">Toggles</a></li>
  <li id="menu-item-1606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1606"><a href="http://html.orange-idea.com/builder/tabs/">Tabs</a></li>
  <li id="menu-item-1605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1605"><a href="http://html.orange-idea.com/builder/tour-sections/">Tour Sections</a></li>
  <li id="menu-item-1604" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1604"><a href="http://html.orange-idea.com/builder/accordion/">Accordion</a></li>
  <li id="menu-item-1626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1626"><a href="http://html.orange-idea.com/builder/post-slider/">Post Slider</a></li>
  <li id="menu-item-1627" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1627"><a href="http://html.orange-idea.com/builder/testimonial-rotator/">Testimonial Rotator</a></li>
</ul>
</li>
<li id="menu-item-1541" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1541"><a href="#">Admin Panel</a>
<ul class="sub-menu">
  <li id="menu-item-1561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1561"><a href="http://html.orange-idea.com/builder/general-settings/">General Settings</a></li>
  <li id="menu-item-1560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1560"><a href="http://html.orange-idea.com/builder/top-line/">Top Line</a></li>
  <li id="menu-item-1559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1559"><a href="http://html.orange-idea.com/builder/logo-and-menu/">Logo and Menu</a></li>
  <li id="menu-item-1558" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1558"><a href="http://html.orange-idea.com/builder/tag-line/">Tag Line</a></li>
  <li id="menu-item-1557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1557"><a href="http://html.orange-idea.com/builder/page-sidebar/">Page Sidebar</a></li>
  <li id="menu-item-1556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1556"><a href="http://html.orange-idea.com/builder/portfolio-settings/">Portfolio Settings</a></li>
  <li id="menu-item-1555" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555"><a href="http://html.orange-idea.com/builder/portfolio-post-settings/">Portfolio Post Settings</a></li>
  <li id="menu-item-1554" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1554"><a href="http://html.orange-idea.com/builder/portfolio-sidebar/">Portfolio Sidebar</a></li>
  <li id="menu-item-1553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553"><a href="http://html.orange-idea.com/builder/blog-settings/">Blog Settings</a></li>
  <li id="menu-item-1552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1552"><a href="http://html.orange-idea.com/builder/blog-post-settings/">Blog Post Settings</a></li>
  <li id="menu-item-1551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1551"><a href="http://html.orange-idea.com/builder/blog-sidebar/">Blog Sidebar</a></li>
  <li id="menu-item-1550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1550"><a href="http://html.orange-idea.com/builder/pagination-settings/">Pagination Settings</a></li>
  <li id="menu-item-1549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549"><a href="http://html.orange-idea.com/builder/footer/">Footer</a></li>
  <li id="menu-item-1548" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1548"><a href="http://html.orange-idea.com/builder/bottom-line/">Bottom Line</a></li>
  <li id="menu-item-1547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1547"><a href="http://html.orange-idea.com/builder/backup-options/">Backup Options</a></li>
</ul>
</li>
<li id="menu-item-1679" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1679"><a href="http://themeforest.net/item/builder-responsive-multipurpose-theme/3596009?ref=OrangeIdea">Purchase</a></li>
</ul></div>                    </nav>
                </div>
        </div>
      </div>
    </div>
    <!--/PAGE HEAD-->

        <!--WELCOME AREA-->
    <div class="tag_line">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="welcome">
                        <h3> <span class="colored">About Us</span><span class="colored">:</span> mission, history and etc  </h3>
                                      <a class="subpage_block" href="http://html.orange-idea.com/builder">Home</a><div class="subpage_breadcrumbs_dv"></div>About Us                                                                    </div>
                </div>
            </div>
        </div>
    </div>






                <div class="main_content_area">
                    <div class="container">
                        <div class="row">
                            <div class="span12">

                                                                <div class="row-fluid">
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<p><a href="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/photodune-2255084-boss-m.jpg" rel="prettyPhoto"><img class="alignnone size-large wp-image-1831" src="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/photodune-2255084-boss-m-1024x702.jpg" alt="" width="980" height="671" /></a></p>
<h4>Jhon Doe <strong>SEO</strong></h4>
<p><em>Class aptent taciti sociosqu ad litora torquent.</em><br />
<a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook</a></p>

    </div>
  </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<p><a href="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/4.jpg" rel="prettyPhoto"><img class="alignnone size-full wp-image-1835" src="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/4.jpg" alt="" width="1000" height="686" /></a></p>
<h4>Mikle Hamman <strong>Counter</strong></h4>
<p><em>Class aptent taciti sociosqu ad litora torquent.</em><br />
<a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook </a></p>

    </div>
  </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<p><a href="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/2.jpg" rel="prettyPhoto"><img class="alignnone size-full wp-image-1833" src="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/2.jpg" alt="" width="1000" height="686" /></a></p>
<h4>Philip Doe <strong>Designer</strong></h4>
<p><em>Class aptent taciti sociosqu ad litora torquent.</em><br />
<a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook </a></p>

    </div>
  </div> </div>
    </div>
  </div> </div> <div class="row-fluid">
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<p><a href="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/3.jpg" rel="prettyPhoto"><img class="alignnone size-full wp-image-1834" src="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/3.jpg" alt="" width="1000" height="686" /></a></p>
<h4>Robert Pau <strong>Manger</strong></h4>
<p><em>Class aptent taciti sociosqu ad litora torquent.</em><br />
<a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook </a></p>

    </div>
  </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<p><a href="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/5.jpg" rel="prettyPhoto"><img class="alignnone size-full wp-image-1843" src="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/5.jpg" alt="" width="1000" height="686" /></a></p>
<h4>Jack Colins <strong>DLE dep.</strong></h4>
<p><em>Class aptent taciti sociosqu ad litora torquent.</em><br />
<a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook </a></p>

    </div>
  </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<p><a href="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/6.jpg" rel="prettyPhoto"><img class="alignnone size-full wp-image-1844" src="http://html.orange-idea.com/builder/wp-content/uploads/2012/12/6.jpg" alt="" width="1000" height="686" /></a></p>
<h4>Sam Doe <strong>Programmer</strong></h4>
<p><em>Class aptent taciti sociosqu ad litora torquent.</em><br />
<a href="http://twitter.com">Twitter</a> / <a href="http://twitter.com">Facebook </a></p>

    </div>
  </div> </div>
    </div>
  </div> </div> <div class="wpb_separator wpb_content_element "></div>
 <div class="row-fluid">
  <div class="wpb_content_element span8 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<h3>Our History</h3>
<p><strong>There are many variations</strong> of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
<p><em>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</em></p>

    </div>
  </div> </div>
    </div>
  </div>
  <div class="wpb_content_element span4 column_container">
    <div class="wpb_wrapper">
       <div class="row-fluid">
  <div class="wpb_content_element span12 wpb_text_column">
    <div class="wpb_wrapper">

<h3>Clients Testimonials</h3>

      <div class="sidebar">
        <div class="testimonialrotator">

      <div class="testimonial">
        <div class="main_testimonial">
          <div class="blockquote">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. The readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div>
        <div class="the-author">Mikle / CEO Some Company</div>
      </div>

      <div class="testimonial">
        <div class="main_testimonial">
          <div class="blockquote">
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). It is a long established fact that. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.
          </div>
        </div>
        <div class="the-author">Jhon Doe</div>
      </div>

        </div>
      </div>


    </div>
  </div> </div>
    </div>
  </div> </div>

                                                            </div>
                        </div>
                    </div>
                </div>
                <!--FOOTER-->
                        <div class="twitter-block" style="background-color:#3a3a3a; margin-top:60px; padding-top:15px; padding-bottom:15px; border-top:1px solid #f4f4f4;">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h6 style="color:#fff; font-weight:600; text-transform:uppercase !important">Twitter Feed</h6>
                        <p style="margin-bottom:0px !important; font-size:12px; line-height:16px; color:#a8a8a8;">Find out what's happening, right now, with the people and organizations you care about.</p>
                    </div>
                    <br class="visiblephone">
                    <div class="span9">
                        <div class="well" style=" box-shadow:none !important; margin-bottom:0px; background:#303030; border:0px; border-radius:0px !important">

                     <ul class="tweet_list">
                      <li class="tweet_first tweet_odd">
                       <div class="the-tweet">
                      <span class="tweet_text"><a href="http://twitter.com/Airwane" title="Follow Airwane"  target="_blank"  >@Airwane</a> We're glad you found it too :D ^TK</span>
                      <span class="tweet_time"><a class="twitter_time" target="_blank" href="http://twitter.com//statuses/462340755835871232">2 hours ago</a></span>
                       </div>
                      </li>
                     </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="footer">
            <div class="container">
                <div class="row">
                  <div class="span3 soc_icons">
                    <div style="">
                      <img src="http://www.orange-idea.com/assets/builder/logo-footer.png" alt=""><br>
                                                    <a href="http://flickr.com/" target="_blank"><div class="icon_flickr"></div></a>
                                                                            <a href="http://plus.google.com/" target="_blank"><div class="icon_google"></div></a>
                                                                            <a href="https://facebook.com/" target="_blank"><div class="icon_facebook"></div></a>
                                                                            <a href="http://pinterest.com/" target="_blank"><div class="icon_pi"></div></a>
                                                                            <a href="http://twitter.com/" target="_blank"><div class="icon_t"></div></a>
                                                                            <a href="http://youtube.com/" target="_blank"><div class="icon_youtube"></div></a>
                                                                            <a href="http://linkedin.com/" target="_blank"><div class="icon_in"></div></a>


                                        <a href="http://deviantart.com/" target="_blank"><div class="icon_da"></div></a>
                                                                            <a href="http://www.skype.com/" target="_blank"><div class="icon_skype"></div></a>
                                                                            <a href="http://www.icq.com/" target="_blank"><div class="icon_icq"></div></a>
                                                                            <a href="http://envato.com/" target="_blank"><div class="icon_envato"></div></a>
                                                                            <a href="http://forrst.com/" target="_blank"><div class="icon_forrst"></div></a>
                                                                            <a href="http://www.bing.com/" target="_blank"><div class="icon_bing"></div></a>
                                                                            <a href="http://myspace.com/" target="_blank"><div class="icon_myspace"></div></a>
                                            </div>
                    <br class="visiblephone"><br class="visiblephone"><br class="visiblephone"><br class="visiblephone">
                    </div>
                    <div class="span3">     <div class="textwidget"><div class="well"><h6 style="text-transform: uppercase !important; font-weight:600; !important">Builder Company</h6>Builder is designed to help people of all skill levels designer or developer, huge nerd or early beginner. </div></div>
    </div><div class="span3">   <!-- BEGIN WIDGET -->
    <h6 style="text-transform: uppercase !important; font-weight:600; !important">Recent Posts</h6><hr>

    <ul class="recent-post-widget unstyled">
            <li>
                <a href='http://html.orange-idea.com/builder/hello-world/' title='Hello world!' class="bg-link">Hello world!</a>
                <div class="small-meta">
                    Dec 1, 2012 / <a href="http://html.orange-idea.com/builder/hello-world/#comments" title="Comment on Hello world!">3 Comments</a>                </div> <!-- /small-meta -->
                <div class="clear"></div>
            </li>
            <li>
                <a href='http://html.orange-idea.com/builder/post-right-sidebar/' title='Post + Right Sidebar' class="bg-link">Post + Right Sidebar</a>
                <div class="small-meta">
                    Nov 30, 2012 / <a href="http://html.orange-idea.com/builder/post-right-sidebar/#comments" title="Comment on Post + Right Sidebar">8 Comments</a>                </div> <!-- /small-meta -->
                <div class="clear"></div>
            </li>
          </ul>

    <!-- END WIDGET -->
    </div><div class="span3"><h6 style="text-transform: uppercase !important; font-weight:600; !important">Contact Information</h6><hr>     <div class="textwidget"><ul class="unstyled">
<li><i class='icon-user  icon-white'></i> +1 800 2000 600</li>
<li><i class='icon-envelope icon-white'></i> contact@sitename.com</li>
<li><i class='icon-map-marker icon-white'></i> 9930 124th Washington</li></div>
    </div>
                </div>
            </div>
        </div>
                <div class="bottom_line" style="border-top:1px solid #444444;">
            <div class="container">
              <div class="row">
                    <div class="span6">
                        <span style="font-size:11px;">Copyright 2012 Builder - Company. Design by <a href='http://themeforest.net/user/OrangeIdea?ref=OrangeIdea'>OrangeIdea</a></span>
                    </div>
                    <div class="span6">
                        <span style="font-size:11px;" class="pull-right visible-desktop"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="unstyled footer_menu"><li id="menu-item-1546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1546"><a href="http://html.orange-idea.com/builder/">Home</a></li>
<li id="menu-item-1632" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-123 current_page_item menu-item-1632"><a href="http://html.orange-idea.com/builder/about-us/">About Us</a></li>
<li id="menu-item-1545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1545"><a href="http://html.orange-idea.com/builder/blog/">Blog</a></li>
<li id="menu-item-1631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1631"><a href="http://html.orange-idea.com/builder/3-columns-portfolio/">Portfolio</a></li>
<li id="menu-item-1633" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1633"><a href="http://html.orange-idea.com/builder/contacts/">Contacts</a></li>
</ul></div></span>
                    </div>
                </div>
            </div>
        </div>
