
        <!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
        <meta charset="utf-8">
        <title>Builder &#8211; Resonsive Wordpress Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Just another WordPress site" />
        <meta name="keywords" content="Builder &#8211; Resonsive Wordpress Theme" />



        <!-- Le styles -->

<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/docs.css">
<link rel="stylesheet" type="text/css" href="css/prettify.css">
<link rel="stylesheet" type="text/css" href="css/nivo-slider.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://www.orange-idea.com/assets/builder/favicon.ico">
                    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" href="http://html.orange-idea.com/builder/wp-content/themes/builder/assets/css/ie.css" />
    <![endif]-->


    <link rel='stylesheet' id='bootstrap-css'  href='css/bootstrap_v3.4.9.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='js_composer_front-css'  href='css/js_composer_front.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='custom-options-css'  href='css/options.css' type='text/css' media='all' />
    <link rel='stylesheet' id='prepared-styles-css'  href='css/empty.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-settings-css'  href='css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-captions-css'  href='css/captions.css' type='text/css' media='all' />
    <link rel='stylesheet' id='css3_grid_font_yanone-css'  href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&#038;ver=3.4.2' type='text/css' media='all' />


    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.themepunch.plugins.min.js'></script>
    <script type='text/javascript' src='js/jquery.themepunch.revolution.min.js'></script>
  </head>

  <body  class="home page page-id-17 page-template-default wpb-js-composer js-comp-ver-3.4.9 vc_responsive">


    <div class="wide_cont">
    <!--TOP-->
        <div class="top_line">
      <div class="container">
          <div class="row">
              <div class="span6">
          <p class="feed"></p>
          </div>
                <div class="span6 soc_icons">
                </div>
              </div>
            </div>
    </div>
    <!--/TOP-->
    <!--PAGE HEAD-->
    <div class="page_head" >
      <div class="container">
          <div class="row">
              <div class="span3">
                  <div class="logo">
                      <a href="http://html.orange-idea.com/builder"> <img src="http://www.orange-idea.com/assets/builder/logo.png" alt="Builder &#8211; Resonsive Wordpress Theme" /></a>
                    </div>
                </div>
                <div class="span9">
                  <nav>
                      <div class="menu-main-menu-container">
    <ul id="menu-main-menu" class="menu">

</li>
<li id="menu-item-1540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1540"><a href="/">Home</a>
</li>

<li id="menu-item-1540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1540"><a href="/about-us">About Us</a>
</li>
<li id="menu-item-1543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1543"><a href="/services">Services</a>
</li>
<li id="menu-item-1525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1525"><a href="/sign-up">Sign Up</a>
</li>
</ul></div>                    </nav>
                </div>
        </div>
      </div>
    </div>
    <!--/PAGE HEAD-->

        <!--WELCOME AREA-->
    <div class="tag_line">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="welcome">
                        <h3><strong class='colored'>BUILDER:</strong> Super powerful <span class='colored'>&</span> responsive wordpress theme with hundreds options.</h3>
                                                                    </div>
                </div>
            </div>
        </div>
    </div>



        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


        <script src="http://html.orange-idea.com/builder/wp-content/themes/builder/assets/js/jquery.tweet.js"></script>



        <script src="http://html.orange-idea.com/builder/wp-content/themes/builder/twitter/jquery.tweet.min.js"></script>

          <script src="js/jquery.min.js"></script>
      <script src="js/prettify.js"></script>
      <script src="js/bootstrap.min.js"></script>
       <script src="js/myscript.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/superfish.js"></script>
      <script src="js/jquery.nivo.slider.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/jflickrfeed.min.js"></script>
      <script src="js/testimonialrotator.js"></script>
      <script src="js/jquery.waitforimages.js"></script>
      <script src="js/jquery.isotope.min.js"></script>
      <script src="js/custom.js"></script>






  </body>


</html>